<navbar></navbar>
<header class="container">
  <div class="jumbotron">
    <img src="https://cdn.discordapp.com/avatars/849772873295724605/229f064eca955c1610bc066fca6fe389.webp?size=1024" alt="2PG Discord Bot" class="float robot">
    <p class="lead">Make the Beest Discord Server!ff</p>
    <p>AI Auto-mod, Logs, Music, XP, and more!</p>
    <p class="lead">
      <a class="btn btn-primary" routerLink="/invite">Add</a>
    </p>
  </div>
</header>

<waves></waves>
<footer>
  <p class="float-right bg-tertiary">{{ version }}</p>
</footer>
